<mat-card>
  <mat-toolbar>Login</mat-toolbar><br>

  <form #userform="ngForm" (ngSubmit)="login(userform)">

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Username"
      ngModel
      name="username"
      >

    </mat-form-field>
    <br>
    <br>

    <mat-form-field>
      <input
      type="password"
      matInput
      placeholder="Password"
      ngModel
      name="password"
      >

    </mat-form-field>
<br><br>

    <button type="submit" mat-raised-button color="primary">Login</button>

  </form>
</mat-card>
