<mat-card>
  <mat-toolbar>User Details</mat-toolbar><br>

  <form #userform="ngForm" (ngSubmit)="login(userform)">

    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Username"
      ngModel
      name="username"
      [(ngModel)]="model.username"
        #username="ngModel"
      >

    </mat-form-field>
    <br>
    <br>

    <mat-form-field>
      <input
      type="email"
      matInput
      placeholder="Email"
      ngModel
      name="email"
      [(ngModel)]="model.email"
        #email="ngModel"
      >

    </mat-form-field>
<br><br>

<mat-form-field>
  <input
  type="text"
  matInput
  placeholder="Location"
  ngModel
  name="location"
  [(ngModel)]="model.location"
        #location="ngModel"
  >
</mat-form-field>
<br>
<br>

  <mat-form-field>
    <input
    type="text"
    matInput
    placeholder="Profile"
    ngModel
    name="profile"
    [(ngModel)]="model.profile"
        #profile="ngModel"
    >

  </mat-form-field>
  <br>
  <br>

    <button type="submit" mat-raised-button color="primary">Submit</button>

  </form>
</mat-card>
<br><br>

<mat-card>
  <mat-toolbar> List of Users</mat-toolbar>
  <br><br>
<table class ="table">
  <tr>
    <th>Sr No.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Location</th>
    <th>Profile</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let data of users; let i=index">
    <td>{{i+1}}</td>
    <td>{{data.username}}</td>
    <td>{{data.email}}</td>
    <td>{{data.location}}</td>
    <td>{{data.profile}}</td>
    <td><mat-icon (click)="edit(i)">edit</mat-icon></td>
    <td><mat-icon (click)="delete(i)">delete</mat-icon></td>

  </tr>
</table>
</mat-card>
<br><br>


